<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_head.jinja" %}
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    <header>
        <h1><a href="{{ url_for("view_welcome_page") }}">Misinko Pythonista</a></h1>
    </header>
{# NAVIGATION ------------------------- #}
    {% include "_nav.jinja" %}

    <main>
        {% block main %} {% endblock %}
    </main>
{# FOOTER ------------------------- #}
    {% include "_footer.jinja" %}



</body>
</html>