<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for("static", filename="css/main.css")}}>
    <title>Welcome</title>
</head>

<body>
    <header>
        <h1>Misinko a o nom pisane</h1>
    </header>

    <nav>
        <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>
        <blockquote>
            Volam sa Michal a python som sa naucil sam. A som na to hrdy.
        </blockquote>
    </main>

    <footer>
        &#169; 2020 Misko Stracina
    </footer>



</body>
</html>