{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
Cookie gummies cake. Pastry icing oat cake topping liquorice marzipan carrot cake. Carrot cake croissant oat cake jelly beans carrot cake apple pie. Soufflé toffee caramels cake candy canes. Cookie tootsie roll pastry jujubes halvah dessert tart cheesecake. Gummi bears cheesecake macaroon tootsie roll croissant lemon drops croissant apple pie sweet.Serus
{% endblock %}